{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Equipe</title>{% endblock %}

{% block content %}

<section id="main-container" class="main-container pb-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="section-sub-title">Notre équipe de travail</h3>
      </div>
    </div>
    <!--/ Title row end -->

    {% if teams is defined and teams | length > 0 %}


    <div class="row justify-content-center">
      {% for team in teams %}
        {% set image = sulu_resolve_media(team.thumbnail,app.request.locale) %}
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            {% if image %}
              <div class="team-img-wrapper">
                <img loading="lazy" src="{{image.formats['240x274']}}" class="img-fluid" alt="">
              </div>
            {% endif %}

            <div class="ts-team-content-classic">
              <h3 class="ts-name">{{team.nom | upper }} {{team.prenoms | lower }}</h3>
              <p class="ts-designation">{{team.poste}}</p>
              <p class="ts-description">{{team.description | raw}}</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 1 end -->

        </div><!-- Col end -->
        
      {% endfor %}    

    </div><!-- Content row 1 end -->


    {% endif %}

  </div><!-- Container end -->
</section><!-- Main container end -->


{% endblock %}


