{% extends "base.html.twig" %}
{% block title %}<title>Quantum - Accueil</title>{% endblock %}

{% block banner %}

    <div class="banner-carousel banner-carousel-1 mb-0">

      {% if presentation is not null %}
          {% set bkgdImage = sulu_resolve_media(presentation.thumbnail,app.request.locale) %}
          {% if bkgdImage is not null %}
            <div class="banner-carousel-item" style="background-image:url({{bkgdImage.formats['1600x800']}})">
              <div class="slider-content">
                  <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12 text-center">
                          <h3 class="slide-sub-title" data-animation-in="slideInRight">{{presentation.titre}}</h3>                        
                          <h2 class="slide-title" data-animation-in="slideInLeft">{{presentation.description | striptags| truncate(100,true) | raw }}</h2>
                          <p data-animation-in="slideInLeft" data-duration-in="1.2">
                            <a href="{{path('web_article',{'slug': presentation.slug})}}" class="slider btn btn-primary border">En Savoir Plus</a>
                            <a href="/contact" class="slider btn btn-primary ">Contactez Nous</a>
                      </p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

          {% endif %}

      {% endif %}

      {% if content.sliderBlock is defined and content.sliderBlock | length > 0 %}
        {% for slider in content.sliderBlock  %}

          {% set bkgdImage = sulu_resolve_media(slider.thumbnail,app.request.locale) %}
          {% if bkgdImage is not null %}
            <div class="banner-carousel-item" style="background-image:url({{bkgdImage.formats['1600x800']}})">
              <div class="slider-content">
                  <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12 text-center">
                          <h3 class="slide-sub-title" data-animation-in="slideInRight">{{slider.titre}}</h3>                        
                          <h2 class="slide-title" data-animation-in="slideInLeft">{{slider.description | striptags| truncate(100,true) | raw }}</h2>
                          <p data-animation-in="slideInLeft" data-duration-in="1.2">
                            <a href="{{path('web_specialites')}}" class="slider btn btn-primary border">En Savoir Plus</a>
                            <a href="/contact" class="slider btn btn-primary ">Contactez Nous</a>
                      </p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

          {% endif %}

          
        {% endfor %}
      {% endif %}

    </div>

    <section class="call-to-action-box no-padding">
      <div class="container">
        <div class="action-style-box">
            <div class="row align-items-center">
              <div class="col-md-8 text-center text-md-left">
                  <div class="call-to-action-text">
                    <h3 class="action-title">Nous apportons des solutions à vos besoins</h3>
                  </div>
              </div><!-- Col end -->
              <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                  <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="/contact">Contactez nous</a>
                  </div>
              </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- Action style box -->
      </div><!-- Container end -->
    </section><!-- Action end -->

{% endblock %}

{% block content %}

  {% if presentation is defined and presentation is not null %}

    <section id="ts-features" class="ts-features">
      <div class="container">
        <div class="row {{valeurs | length > 0 ? '' : 'justify-content-center'}} ">

              <div class="{{valeurs | length > 0 ? 'col-lg-6 ' : 'col-lg-10 '}}">
                <div class="ts-intro">
                    <h2 class="into-title">{{presentation.titre | title}}</h2>
                    <h3 class="into-sub-title">{{presentation.description}}</h3>
                    <p>{{presentation.contenu  |  truncate(400, true)| raw }}</p>
                    <a href="{{path('web_article',{'slug': presentation.slug})}}" class="">En savoir plus</a>
                </div><!-- Intro box end -->

                <div class="gap-20"></div>

                  {# <div class="row">
                      <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                              <i class="fas fa-trophy"></i>
                            </span>
                            <div class="ts-service-box-content">
                              <h3 class="service-box-title">Nous avons une réputation d'excélence</h3>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                              <i class="fas fa-sliders-h"></i>
                            </span>
                            <div class="ts-service-box-content">
                              <h3 class="service-box-title">Nous créons des partenariats</h3>
                            </div>
                        </div>
                      </div>
                  </div>

                <div class="row">
                    <div class="col-md-6">
                      <div class="ts-service-box">
                          <span class="ts-service-icon">
                            <i class="fas fa-thumbs-up"></i>
                          </span>
                          <div class="ts-service-box-content">
                            <h3 class="service-box-title">Guidé par l’engagement</h3>
                          </div>
                      </div><!-- Service 1 end -->
                    </div><!-- col end -->

                    <div class="col-md-6">
                      <div class="ts-service-box">
                          <span class="ts-service-icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <div class="ts-service-box-content">
                            <h3 class="service-box-title">Une équipe de professionnels</h3>
                          </div>
                      </div><!-- Service 2 end -->
                    </div><!-- col end -->
                </div> #}
              </div>
            
            {% if valeurs is defined and valeurs | length > 0 %}

            <div class="col-lg-6 mt-4 mt-lg-0">
              <h3 class="into-sub-title">Nos Valeurs</h3>
              <p>Minim Austin 3 wolf moon scenester aesthetic, umami odio pariatur bitters. Pop-up occaecat taxidermy street art, tattooed beard literally.</p>

              <div class="accordion accordion-group" id="our-values-accordion">

                {% for valeur in valeurs %}

                  {% set show = '' %}
                  {% set collapsed = '' %}
                  {% if loop.first %}
                      {% set show = 'show' %}
                  {% else %}
                      {% set collapsed = 'collapsed' %}
                  {% endif %}
                  <div class="card">
                    <div class="card-header p-0 bg-transparent" id="heading-{{valeur.id}}">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left {{collapsed}}" type="button" data-toggle="collapse" data-target="#collapse-{{valeur.id}}" aria-expanded={{loop.first}} aria-controls="collapse-{{valeur.id}}">
                            {{valeur.titre | title}}
                          </button>
                        </h2>
                    </div>
                  
                    <div id="collapse-{{valeur.id}}" class="collapse {{show}}" aria-labelledby="heading-{{valeur.id}}" data-parent="#our-values-accordion">
                        <div class="card-body">
                          {{valeur.contenu | raw}}
                        </div>
                    </div>
                  </div>
                  
                {% endfor %}

              </div>
              <!--/ Accordion end -->

            </div><!-- Col end -->
            
            {% endif %}

        </div><!-- Row end -->
      </div><!-- Container end -->
    </section><!-- Feature are end -->

  {% endif %}

    <section id="facts" class="facts-area dark-bg">
      <div class="container">
        <div class="facts-wrapper">
            <div class="row">
              <div class="col-md-3 col-sm-6 ts-facts">
                  <div class="ts-facts-img">
                    <span class="ts-facts-icon">
                      <i class="fas fa-clock"></i>
                    </span>
                    <!-- <img loading="lazy" src="images/icon-image/fact3.png" alt="facts-img"> -->
                  </div>
                  <div class="ts-facts-content">
                    <h2 class="ts-facts-num">+<span class="counterUp" data-count="20">0</span></h2>
                    <h3 class="ts-facts-title">Années D'expertise</h3>
                  </div>
              </div><!-- Col end -->

              <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                  <div class="ts-facts-img">
                    <span class="ts-facts-icon">
                      <i class="fas fa-trophy"></i>
                    </span>
                    <!-- <img loading="lazy" src="images/icon-image/fact1.png" alt="facts-img"> -->
                  </div>
                  <div class="ts-facts-content">
                    <h2 class="ts-facts-num">+<span class="counterUp" data-count="100">0</span></h2>
                    <h3 class="ts-facts-title">Projets Réalisés</h3>
                  </div>
              </div><!-- Col end -->

              <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                  <div class="ts-facts-img">
                    <span class="ts-facts-icon">
                      <i class="fa fa-truck"></i>
                    </span>                    
                    <!-- <img loading="lazy" src="images/icon-image/fact2.png" alt="facts-img"> -->
                  </div>
                  <div class="ts-facts-content">
                    <h2 class="ts-facts-num">+<span class="counterUp" data-count="20">0</span></h2>
                    <h3 class="ts-facts-title">Fournisseurs</h3>
                  </div>
              </div><!-- Col end -->

              <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                  <div class="ts-facts-img">
                    <span class="ts-facts-icon">
                      <i class="fas fa-award"></i>
                    </span>                    
                    <!-- <img loading="lazy" src="images/icon-image/fact4.png" alt="facts-img"> -->
                  </div>
                  <div class="ts-facts-content">
                    <h2 class="ts-facts-num">+<span class="counterUp" data-count="10">0</span></h2>
                    <h3 class="ts-facts-title">Certificats</h3>
                  </div>
              </div><!-- Col end -->

            </div> <!-- Facts end -->
        </div>
        <!--/ Content row end -->
      </div>
      <!--/ Container end -->
    </section><!-- Facts end -->


  {% if specialites is defined and specialites | length > 0 %}

    <section id="ts-service-area" class="ts-service-area pb-0">
      <div class="container">
        <div class="row text-center">
            <div class="col-12">
              <h2 class="section-title">Nous somme spécialiste dans</h2>
              <h3 class="section-sub-title">Ce que nous faisons</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-lg-4">

              {% for specialite  in specialites %}
                {% if loop.index <= ( specialites | length )/2 %}
                  <div class="ts-service-box d-flex">
                      <div class="ts-service-box-img">
                        {# <span class="ts-service-icon">
                          <i class="fas fa-check"></i>
                        </span>                         #}
                        {# <img loading="lazy" src="/assets/images/icon-image/check-solid.png" alt="service-icon"> #}
                      </div>
                      <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="{{path('web_specialite',{'slug': specialite.slug})}}">{{specialite.titre | title}}</a></h3>
                        <p>{{specialite.contenu | striptags | truncate(100,true) | raw}}</p>
                      </div>
                  </div><!-- Service 1 end -->                

                {% endif %}
              {% endfor %}

            </div><!-- Col end -->

            <div class="col-lg-4 text-center">
              {# <img loading="lazy" class="img-fluid" src="/assets/images/services/service-center.jpg" alt="service-avater-image"> #}
            </div><!-- Col end -->

            <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">

              {% for specialite  in specialites %}
                {% if loop.index > ( specialites | length )/2 %}
                  <div class="ts-service-box d-flex">
                      <div class="ts-service-box-img">
                        {# <span class="ts-service-icon">
                          <i class="fas fa-check"></i>
                        </span>                                                 #}
                        {# <img loading="lazy" src="/assets/images/icon-image/check-solid.png" alt="service-icon"> #}
                      </div>
                      <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="{{path('web_specialite',{'slug': specialite.slug})}}">{{specialite.titre | title}}</a></h3>
                        <p>{{specialite.contenu | striptags | truncate(100,true) | raw}}</p>
                      </div>
                  </div><!-- Service 1 end -->                

                {% endif %}
              {% endfor %}

            </div><!-- Col end -->
        </div><!-- Content row end -->

      </div>
      <!--/ Container end -->
    </section><!-- Service end -->

  {% endif %}
  
  {% if projets is defined and projets | length > 0 %}

    <section id="project-area" class="project-area solid-bg">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <h2 class="section-title">Travail d'Excelence</h2>
            <h3 class="section-sub-title">Services rendus</h3>
          </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
          <div class="col-12">
            <div class="shuffle-btn-group">
              <label class="active" for="all">
                <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">TOUT
              </label>
              {% if categories is defined and categories | length > 0 %}
                {% for categorie in categories %}
                  <label for="{{ categorie.key}}">
                    <input type="radio" name="shuffle-filter" id="{{ categorie.key}}" value="{{ categorie.key}}">{{ categorie.key}}
                  </label>                  
                {% endfor %}
              {% endif %}

            <div class="row shuffle-wrapper">
              <div class="col-1 shuffle-sizer"></div>

                {% for projet in projets %}
                  {% set groupe = [] %}
                  {% set CategoryNames = [] %}
                  {% for category in projet.categories %}
                    {% set groupe = groupe|merge([category.key]) %} 
                    {% set CategoryNames = CategoryNames|merge([ category.key]) %} 
                  {% endfor %}

                  {% set image = sulu_resolve_media(projet.thumbnail,app.request.locale) %}
                  {% if image is not null %}

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="{{groupe | json_encode()}}">
                      <div class="project-img-container">
                        <a class="gallery-popup" href="{{image.formats['750x600']}}" aria-label="project-img">
                          <img class="img-fluid" src="{{image.formats['750x600']}}">
                          <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                        </a>
                        <div class="project-item-info">
                          <div class="project-item-info-content">
                            <h3 class="project-item-title">
                              <a href="{{path('web_service_rendu',{'slug':projet.slug})}}"> {{projet.titre | title}}</a>
                            </h3>
                            <p class="project-cat">{{CategoryNames|join(' , ')}}  </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                                   
                {% endfor %}
             
            </div>
            <!-- shuffle end -->
          </div>

          <div class="col-12">
            <div class="general-btn text-center">
              <a class="btn btn-primary" href="{{path('web_services_rendus')}}">Voir tous les projets</a>
            </div>
          </div>

        </div><!-- Content row end -->
      </div>
      <!--/ Container end -->
    </section><!-- Project area end -->

  {% endif %}
  
  {% if clients is defined and clients| length > 0 %}

    <section class="content">
      <div class="container">
        <div class="row">
          {% if temoignages is defined and temoignages| length > 0 %}
              <div class="col-lg-6">
                <h3 class="column-title">Témoignages</h3>

                <div id="testimonial-slide" class="testimonial-slide">
                    {% for temoignage in temoignages %}
                      <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                              {{temoignage.contenu}}
                            </span>

                            <div class="quote-item-footer">
                              {% set image = sulu_resolve_media(temoignage.thumbnail,app.request.locale) %}
                              {% if image %}
                                <img loading="lazy" class="testimonial-thumb" src="{{image.formats['100x100']}}" alt="testimonial">
                              {% endif %}
                              <div class="quote-item-info">
                                  <h3 class="quote-author">{{temoignage.titre}}</h3>
                                  <span class="quote-subtext">{{temoignage.description}}</span>
                              </div>
                            </div>
                        </div><!-- Quote item end -->
                      </div>                      
                    {% endfor %}

                </div>
                <!--/ Testimonial carousel end-->
              </div><!-- Col end -->

          {% endif %}
          

            <div class="{{temoignages | length > 0 ? 'col-lg-6 ' : ' '}} mt-5 mt-lg-0">

              <h3 class="column-title text-center">Quelques partenaires</h3>

              <div class="row all-clients">

                  {% for client in clients %}
                    {% set image = sulu_resolve_media(client.thumbnail,app.request.locale) %}
                    {% if image %}
                      <div class=" {{temoignages | length > 0 ? 'col-sm-4 ' : 'col-sm-3 '}} col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="{{image.formats['242x80']}}" alt="" /></a>
                        </figure>
                      </div><!-- Client  end -->                    
                    {% endif %}
                   
                  {% endfor %}

              </div><!-- Clients row end -->

            </div><!-- Col end -->

        </div>
        <!--/ Content row end -->
      </div>
      <!--/ Container end -->
    </section><!-- Content end -->

  {% endif %}

  {% if articles is defined and articles| length > 0 %}

    <section id="news" class="news">
      <div class="container">
        <div class="row text-center">
            <div class="col-12">
              <h2 class="section-title">Blog</h2>
              <h3 class="section-sub-title">Publications récentes</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
          {% for article in articles %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="latest-post">
                  {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
                  {% if image %}
                    <div class="latest-post-media">
                      <a href="news-single.html" class="latest-post-img">
                          <img loading="lazy" class="img-fluid" src="{{image.formats['360x250']}}" alt="img">
                      </a>
                    </div>
                  {% endif %}
                  <div class="post-body">
                    <h4 class="post-title">
                        <a href="{{path('web_article',{'slug':article.slug})}}" class="d-inline-block">{{article.titre}}</a>
                    </h4>
                    <div class="latest-post-meta">
                        <span class="post-item-date">
                          <i class="fa fa-clock-o"></i> 
                          {{article.createdAt | format_datetime('medium','none',locale='fr')}}
                        </span>
                    </div>
                  </div>
              </div><!-- Latest post end -->
            </div><!-- 1st post col end -->
          {% endfor %}

        </div>
        <!--/ Content row end -->

        <div class="general-btn text-center mt-4">
            <a class="btn btn-primary" href="{{path('web_articles')}}">Voir toutes les publications</a>
        </div>

      </div>
      <!--/ Container end -->
    </section>
    <!--/ News end -->

  {% endif %}
  

{% endblock %}
