{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Présentation</title>{% endblock %}

{% block banner %}

    {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
    {% if image %}
        {% set imageUrl = image.formats['1600x300'] %}
    {% endif %}
    <div id="banner-area" class="banner-area" style="background-image:url({{imageUrl}})">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Presentation</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#">Quantum</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {% if article is defined and article is not null %}{{article.titre | title}}{% endif %}
                            </li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </div><!-- Banner text end -->
    </div><!-- Banner area end --> 

{% endblock %}

{% block content %}

    {% if article is defined and article is not null %}

    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                <h3 class="column-title">{{article.titre | title}}</h3>
                <p>{{article.contenu | raw}}</p>

                </div><!-- Col end -->

                {% if article.medias | length > 0 %}

                <div class="col-lg-6 mt-5 mt-lg-0">
                
                    <div id="page-slider" class="page-slider small-bg">

                        {% for media in article.medias %}
                            {% set image = sulu_resolve_media(media,app.request.locale) %}
                            {% if image %}
                                {% set imageUrl = image.formats['555x330'] %}
                                <div class="item" style="background-image:url({{imageUrl}})">
                                    <div class="container">
                                        <div class="box-slider-content">
                                        <div class="box-slider-text">
                                            <h2 class="box-slide-title">{{image.name | split('.', 2)[0] }}</h2>
                                        </div>    
                                        </div>
                                    </div>
                                </div><!-- Item 1 end -->

                            {% endif %}
                            
                        {% endfor %}

                    </div><!-- Page slider end-->          
                

                </div><!-- Col end -->

                    
                {% endif %}

            </div><!-- Content row end -->

        </div><!-- Container end -->
    </section><!-- Main container end -->
    
    {% endif %}


{% endblock %}
