
 {% apply inline_css (
    source('@bootstrap/bootstrap.min.css'),
    source('@styles/style.css'),
   ) %} 

 {# <html lang="fr">

    <body>  #}
        <div class="body-inner">
            <section id="main-container" class="main-container">
                <div class="container">

                    <div >
                        <p> 
                            {{newsletter.content | raw}}
                        </p>
                        
                    </div> 

                    {% if article is defined and article is not null %}

                        <div class="row">

                            <div class="col-lg-12 mb-5 mb-lg-0">
                                <div class="post">
                                    {% if article.thumbnail %}
                                        {% set image = sulu_resolve_media(article.thumbnail,null) %}
                                        {% if image %}
                                            <div class="post-media post-image">
                                                <a href="{{ homeLink}}{{path('web_article',{'slug':article.slug})}}">
                                                    <img loading="lazy" src="{{ homeLink}}{{image.formats['750x450']}}" class="img-fluid" alt="">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="post-body">
                                        <div class="entry-header">
                                        <div class="post-meta">
                                            <span class="post-author">
                                            <i class="far fa-user"></i><a href="#"> {{article.createdBy.contact.lastName | upper }} {{article.createdBy.contact.firstName | title }}</a>
                                            </span>
                                            <span class="post-cat">
                                            <i class="far fa-folder-open"></i><a href="#"> Blog</a>
                                            </span>
                                            <span class="post-meta-date"><i class="far fa-calendar"></i>{{article.createdAt | format_datetime('medium','none',locale='fr')}}</span>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="{{ homeLink}}{{path('web_article',{'slug':article.slug})}}">{{article.titre}}</a>
                                        </h2>
                                        </div><!-- header end -->

                                        <div class="entry-content">
                                            {{article.contenu | striptags | truncate(300,true) | raw}}
                                        </div>

                                        <div class="post-footer">
                                            <a href="{{ homeLink}}{{path('web_article',{'slug':article.slug})}}" class="btn btn-primary">Continuer à lire</a>
                                        </div>

                                    </div><!-- post-body end -->
                                </div><!-- 1st post end -->
                            </div><!-- Content Col end -->
                        </div><!-- Main row end -->
                        
                    {% endif %}
                     
                </div>
            </section>

            {# <p>Ceci est un message automatique envoyé à tous les abonnés à la newsletter sur <a href="{{app.request.getSchemeAndHttpHost() }}">{{app.request.getSchemeAndHttpHost() }}</a> </p>     #}
            <p>Ceci est un message automatique envoyé à tous les abonnés à la newsletter sur 
                <a href="{{ homeLink}}" target="_blank"> {{ homeLink}}</a> 
            </p>    
            <p> Pour se désabonner, cliquer sur 
                <a href="{{ homeLink}}{{path('web_newsletter_unsubscribe',{id:user.id, newsletter:newsletter.id, token:user.validationToken})}}" >
                se désinscrire
                </a> et vous ne recevrez plus ce type de message.
            </p>
        </div>
    {# </body>
</html>  #}
{% endapply %} 

