{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Spécialités</title>{% endblock %}

{% block banner %}

    <div id="banner-area" class="banner-area" style="background-image:url(/assets/images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Spécialité</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Domaines</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nos domaines d'activité</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
    </div><!-- Banner area end --> 

{% endblock %}

{% block content %}

    <section id="main-container" class="main-container pb-2">
        <div class="container">
            <div class="row">
                {% if specialites is defined and specialites | length > 0 %}
                    {% for specialite in specialites %}
                        <div class="col-lg-4 col-md-6 mb-5">
                            <div class="ts-service-box">
                                {% set image = sulu_resolve_media(specialite.thumbnail,app.request.locale) %}
                                {% if image %}
                                    <div class="ts-service-image-wrapper">
                                        <img loading="lazy" class="w-100" src="{{image.formats['360x250']}}" alt="">
                                    </div>                                
                                {% endif %}
                                <div class="d-flex">
                                    <div class="ts-service-box-img">
                                        {# <span class="ts-service-icon">
                                            <i class="fa fa-{{specialite.titre | first | lower}}"></i>
                                        </span> #}
                                    </div>
                                <div class="ts-service-info">
                                    <h3 class="service-box-title"><a href="{{path('web_specialite',{'slug': specialite.slug})}}">{{specialite.titre}}</a></h3>
                                    <p>{{specialite.contenu | striptags | truncate(300,true) | raw}}</p>
                                    <a class="learn-more d-inline-block" href="{{path('web_specialite',{'slug': specialite.slug})}}" aria-label="service-details"><i class="fa fa-caret-right"></i> En  savoir plus</a>
                                </div>
                                </div>
                            </div><!-- Service1 end -->
                        </div><!-- Col 1 end -->                        
                    {% endfor %}

                    <div class="justify-content-center">
                        <div class="paging " aria-label="Page navigation">
                            {{ knp_pagination_render(specialites) }}
                        </div>
                    </div>

                {% endif %}


            </div><!-- Main row end -->
        </div><!-- Conatiner end -->
    </section><!-- Main container end -->

{% endblock %}
