{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Blog</title>{% endblock %}

{% block banner %}

    {% set image = sulu_resolve_media(article.thumbnail,null) %}
    {% if image %}
        {% set imageUrl = image.formats['1600x300'] %}
    {% else %}
        {% set imageUrl = '/assets/images/banner/banner1.jpg' %}
    {% endif %}

    <div id="banner-area" class="banner-area" style="background-image:url({{imageUrl }})">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Blog</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{{path('web_articles')}}">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{article.titre | title}}</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </div><!-- Banner text end -->
    </div><!-- Banner area end --> 

{% endblock %}

{% block content %}

    <section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

        <div class="col-lg-8 mb-5 mb-lg-0">

            <div class="post-content post-single">
                {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
                {% if image %}
                    <div class="post-media post-image">
                        <img loading="lazy" src="{{image.formats['750x450']}}" class="img-fluid" alt="">
                    </div>
                
                {% endif %}

                <div class="post-body">
                    <div class="entry-header">
                    <div class="post-meta">
                        <span class="post-author">
                        <i class="far fa-user"></i><a href="#"> {{article.createdBy.contact.firstName | title}}</a>
                        </span>
                        <span class="post-cat">
                        <i class="far fa-folder-open"></i><a href="#"> Blog</a>
                        </span>
                        <span class="post-meta-date"><i class="far fa-calendar"></i> {{article.createdAt | format_datetime('medium','none',locale='fr')}}</span>
                    </div>
                    <h2 class="entry-title">
                        {{article.titre}}
                    </h2>
                    </div><!-- header end -->

                    <div class="entry-content">
                        {{article.contenu | raw}}
                    </div>

                </div><!-- post-body end -->
                </div><!-- post content end -->

                {# <div class="author-box d-nlock d-sm-flex">
                    {% set user = sulu_resolve_user(article.updatedBy.id) %}
                    {% set avatar = sulu_resolve_media(user.contact.avatar,app.request.locale) %}
                    {% if avatar %}
                        <div class="author-img mb-4 mb-md-0">
                            <img loading="lazy" src="{{avatar.formats['100x100']}}" alt="author">
                        </div>
                    {% endif %}
                    <div class="author-info">
                        <h3><span class="">Auteur : </span>{{user.contact.lastName | upper}} {{user.contact.firstName | title}}</h3>
                        <p class="mb-2"> {{user.contact.note}}</p>
                    </div>
                </div>  #}
                <!-- Author box end -->

        
            </div><!-- Content Col end -->

        <div class="col-lg-4">

            <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
                <h3 class="widget-title">Publications récentes</h3>
                {% if articles | length > 0 %}
                    {% set curentId = article.id %}
                <ul class="list-unstyled">
                    {% for article in articles %}
                        {% if article.id != curentId %}
                            {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
                            {% if image %}
                                <li class="d-flex align-items-center">
                                    <div class="posts-thumb">
                                        <a href="{{path('web_article',{'slug':article.slug})}}">
                                            <img loading="lazy" alt="" src="{{image.formats['100x100']}}">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="{{path('web_article',{'slug':article.slug})}}">{{article.titre}}</a>
                                    </h4>
                                    </div>
                                </li><!-- 1st post end-->
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </ul>
                {% endif %}


            </div><!-- Recent post end -->

            <!-- <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="arrow nav nav-tabs">
                <li><a href="#">Construction</a></li>
                <li><a href="#">Commercial</a></li>
                <li><a href="#">Building</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Structure</a></li>
                </ul>
            </div> -->
            <!-- Categories end -->

            <!-- <div class="widget">
                <h3 class="widget-title">Archives </h3>
                <ul class="arrow nav nav-tabs">
                <li><a href="#">Feburay 2016</a></li>
                <li><a href="#">January 2016</a></li>
                <li><a href="#">December 2015</a></li>
                <li><a href="#">November 2015</a></li>
                <li><a href="#">October 2015</a></li>
                </ul>
            </div> -->
            <!-- Archives end -->

            <!-- <div class="widget widget-tags">
                <h3 class="widget-title">Tags </h3>

                <ul class="list-unstyled">
                <li><a href="#">Construction</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Building</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Contracting</a></li>
                <li><a href="#">Planning</a></li>
                </ul>
            </div> -->
            <!-- Tags end -->


            </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->

        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
    </section><!-- Main container end -->
    
{% endblock %}
