{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Blog</title>{% endblock %}

{% block banner %}

    <div id="banner-area" class="banner-area" style="background-image:url(/assets/images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Blog</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nos publications</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
    </div><!-- Banner area end --> 

{% endblock %}

{% block content %}
   

    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 order-1 order-lg-0">

                    <div class="sidebar sidebar-left">
                    <div class="widget recent-posts">
                        <h3 class="widget-title">Publications récentes</h3>
                        {% if articlesRecentes is defined and articlesRecentes | length > 0 %}
                            <ul class="list-unstyled">
                                {% for article in articlesRecentes %}
                                    {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
                                    {% if image %}
                                        <li class="d-flex align-items-center">
                                            <div class="posts-thumb">
                                            <a href="{{path('web_article',{'slug':article.slug})}}"><img loading="lazy" alt="" src="{{image.formats['90x70']}}"></a>
                                            </div>
                                            <div class="post-info">
                                            <h4 class="entry-title">
                                                <a href="{{path('web_article',{'slug':article.slug})}}">{{article.titre}}</a>
                                            </h4>
                                            </div>
                                        </li><!-- 1st post end-->

                                    {% endif %}
                                    
                                {% endfor %}
                            </ul>                        
                        {% endif %}
                    </div><!-- Recent post end -->

                    <!-- <div class="widget">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="arrow nav nav-tabs">
                        <li><a href="#">Construction</a></li>
                        <li><a href="#">Commercial</a></li>
                        <li><a href="#">Building</a></li>
                        <li><a href="#">Safety</a></li>
                        <li><a href="#">Structure</a></li>
                        </ul>
                    </div> -->
                    
                    <!-- Categories end -->

                    <!-- <div class="widget">
                        <h3 class="widget-title">Archives </h3>
                        <ul class="arrow nav nav-tabs">
                        <li><a href="#">Feburay 2016</a></li>
                        <li><a href="#">January 2016</a></li>
                        <li><a href="#">December 2015</a></li>
                        <li><a href="#">November 2015</a></li>
                        <li><a href="#">October 2015</a></li>
                        </ul>
                    </div> -->
                    <!-- Archives end -->

                    <!-- <div class="widget widget-tags">
                        <h3 class="widget-title">Tags </h3>

                        <ul class="list-unstyled">
                        <li><a href="#">Construction</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Project</a></li>
                        <li><a href="#">Building</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Safety</a></li>
                        <li><a href="#">Contracting</a></li>
                        <li><a href="#">Planning</a></li>
                        </ul>
                    </div> -->
                    <!-- Tags end -->


                    </div><!-- Sidebar end -->
                </div><!-- Sidebar Col end -->

                <div class="col-lg-8 mb-5 mb-lg-0 order-0 order-lg-1">
                    {% if articles is defined and articles | length > 0 %}
                        {% for article in articles %}
                            <div class="post">
                                {% set image = sulu_resolve_media(article.thumbnail,app.request.locale) %}
                                {% if image %}
                                    <div class="post-media post-image">
                                        <a href="{{path('web_article',{'slug':article.slug})}}">
                                            <img loading="lazy" src="{{image.formats['750x450']}}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                {% endif %}

                                <div class="post-body">
                                    <div class="entry-header">
                                    <div class="post-meta">
                                        <span class="post-author">
                                        <i class="far fa-user"></i><a href="#"> {{article.createdBy.contact.lastName | upper }} {{article.createdBy.contact.firstName | title }}</a>
                                        </span>
                                        <span class="post-cat">
                                        <i class="far fa-folder-open"></i><a href="#"> Blog</a>
                                        </span>
                                        <span class="post-meta-date"><i class="far fa-calendar"></i>{{article.createdAt | format_datetime('medium','none',locale='fr')}}</span>
                                        <!-- <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                            class="comments-link">Comments</a></span> -->
                                    </div>
                                    <h2 class="entry-title">
                                        <a href="{{path('web_article',{'slug':article.slug})}}">{{article.titre}}</a>
                                    </h2>
                                    </div><!-- header end -->

                                    <div class="entry-content">
                                        {{article.contenu | striptags | truncate(300,true) | raw}}
                                    </div>

                                    <div class="post-footer">
                                    <a href="{{path('web_article',{'slug':article.slug})}}" class="btn btn-primary">Continuer à lire</a>
                                    </div>

                                </div><!-- post-body end -->
                            </div><!-- 1st post end -->
                                    
                        {% endfor %}
                    {% endif %}

                    <nav class="paging" aria-label="Page navigation">
                        {{ knp_pagination_render(articles) }}
                    </nav>

                </div><!-- Content Col end -->

            </div><!-- Main row end -->

        </div><!-- Container end -->
    </section><!-- Main container end -->

{% endblock %}

