{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Service rendu</title>{% endblock %}

{% block banner %}
  {% if projet is defined and  projet is not null %}
    {% set bkgdImage = sulu_resolve_media(projet.thumbnail,app.request.locale) %}
    {% set imageUrl = null %}
    {% if bkgdImage is not null %}
      {% set imageUrl = bkgdImage.formats['1600x300'] %}
    {% endif %}

  {% endif %}
  <div id="banner-area" class="banner-area" style="background-image:url({{imageUrl}})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Services rendus</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services rendus</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 

{% endblock %}

{% block content %}

  {% if projet is defined and  projet is not null %}

    <section id="main-container" class="main-container">
      <div class="container">

        <div class="row">
          <div class="col-lg-8">
            <div id="page-slider" class="page-slider small-bg">

              {% set image = sulu_resolve_media(projet.thumbnail,app.request.locale) %}
              {% if image is not null %}
                <div class="item">
                  <img loading="lazy" class="img-fluid" src="{{image.formats['750x600']}}" alt="project-image" />
                </div>
              {% endif %}

              {# {% if projet.medias | length > 0 %}
                {% for media in projet.medias %}
                  {% set image = sulu_resolve_media(media.thumbnail,app.request.locale) %}
                  {% if image is not null %}
                    <div class="item">
                      <img loading="lazy" class="img-fluid" src="{{image.formats['750x600']}}" alt="project-image" />
                    </div>
                  {% endif %}
                  
                {% endfor %}

              {% endif %} #}

            </div><!-- Page slider end -->
          </div><!-- Slider col end -->

          <div class="col-lg-4 mt-5 mt-lg-0">

            <h3 class="column-title mrt-0">{{projet.titre}}</h3>
            <p>{{projet.description}}</p>

            <ul class="project-info list-unstyled">
              <li>
                <p class="project-info-label">Client</p>
                <p class="project-info-content">{{projet.client}}</p>
              </li>
              <li>
                <p class="project-info-label">Débuit</p>
                <p class="project-info-content">
                  {% if projet.debut %}
                    {{projet.debut | format_datetime('medium','none',locale='fr') }}
                  {% endif %}
                </p>
              </li>
              <li>
                <p class="project-info-label">Fin</p>
                <p class="project-info-content">
                  {% if projet.fin %}
                    {{projet.fin | format_datetime('medium','none',locale='fr') }}
                  {% endif %}
                
                </p>
              </li>
              <li>
                <p class="project-info-label">Contenu</p>
                <p class="project-info-content">{{projet.contenu | striptags | truncate (400,true)| raw}}</p>
              </li>

                {% if projet.categories | length > 0 %}

                  <li>
                    <p class="project-info-label">Categories</p>
                    <p class="project-info-content ">
                      {% for categorie in projet.categories %}
                        {{categorie.key | upper}} {% if not loop.last %}{{~" , "}}{% endif %}
                      
                      {% endfor %}
                    </p>
                  </li>
                {% endif %}
              <li>
                <p class="project-link">
                  <a class="btn btn-primary" target="_blank" href="{{path('web_article',{'slug':projet.slug})}}">Plus de Détail</a>
                </p>
              </li>
            </ul>

          </div><!-- Content col end -->

        </div><!-- Row end -->

      </div><!-- Conatiner end -->
    </section><!-- Main container end -->

  {% endif %}


{% endblock %}

